<div [ngSwitch]="tipoPessoa">
    <div *ngSwitchCase="'cliente'">
        <div class="row">
            <button mat-button class="col s12 m4 white-text purple" (click)="abrirModalPedido()">Fazer um pedido</button>
        </div>
        <br>
        <div class="row">
            <div class="col m6 s12" *ngFor="let pedido of pedidos">
                <mat-card class="animated fadeInDown">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <mat-icon>{{pedido.categoria.foto}}</mat-icon>
                        </div>
                        <mat-card-title>{{pedido.categoria.nome}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{pedido.observacao}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>
                            <mat-icon>close</mat-icon>Cancelar</button>
                        <button mat-button>
                            <mat-icon>edit</mat-icon>Editar</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>

    </div>

    <div *ngSwitchCase="'profissional'">
        <agm-map #map [styles]="styles" [zoom]="15" class="full-map" [longitude]="centerLongitude" [latitude]="centerLatitude">
            <agm-marker *ngFor="let pedido of pedidos" [iconUrl]="pedido.cliente?.pessoa?.avatar?.marker" [title]="pedido.titulo" (markerClick)="markerPedidoClicado(pedido,infoWindow)"
                [openInfoWindow]="true" [markerClickable]="true" [latitude]="pedido.latitude" [longitude]="pedido.longitude">
                <agm-info-window #infoWindow>
                    <div>
                        <b>{{pedido.titulo}}</b>
                        <br>
                        <p>{{pedido.observacao}}</p>
                        <p>
                            <small>
                                <b>Cliente</b>: {{pedido.cliente.pessoa.nome}} {{pedido.cliente.pessoa.sobrenome}}</small>
                        </p>
                    </div>
                    <button mat-button disabled>
                        <mat-icon>{{pedido.categoria.foto}}</mat-icon> {{pedido.categoria.nome}}
                    </button>
                    <button mat-button>
                        <mat-icon>chat</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>info</mat-icon>
                    </button>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>