<h2 mat-dialog-title>Categoria</h2>


<form>
  <mz-input-container>
    <input mz-input [label]="'Nome'" id="nome" name="nome" type="text" [(ngModel)]="objeto.nome">
  </mz-input-container>

  <mz-input-container>
    <input mz-input [label]="'Ícone'" id="foto" name="foto" type="text" [(ngModel)]="objeto.foto">
  </mz-input-container>
</form>

<mat-dialog-actions>
  <button mat-button [disabled]="loading" class="purple white-text" (click)="submit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="20" style="margin: 5px;" *ngIf="loading"></mat-progress-spinner>
</mat-dialog-actions>