<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between">
      <span [routerLink]="['/']" class="logo">FindME</span>
      <span></span>
      <div>
        <button mat-raised-button color="accent" [routerLink]="['/home','cadastro-profissional']">Profissional</button>
        <button mat-raised-button color="accent" [routerLink]="['/home','cadastro-cliente']">Cliente</button>
        <button mat-button color="accent" [routerLink]="['/entrar']">Entrar</button>
      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>