<header>
  <app-navbar [backgroundImage]="false">
    <li>
      <a href="badges.html">Como funciona?</a>
    </li>
    <li>
      <a [routerLink]="['/entrar']" class="nav-btn btn waves-effect waves-light purple">JÁ TENHO UMA CONTA</a>
    </li>
  </app-navbar>

  <div class="row">
    <div class="col s12 center">
      <h3 class="white-text animated fadeInDown">Faça do seu tempo seu melhor amigo</h3>
      <h5 class="white-text animated fadeInDown">Contrate os melhores profissionais em tempo recorde</h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="row">
        <div class="col m6 12">
          <div class="card animated fadeInLeft">
            <div class="card-content">
              <span class="card-title">Cliente</span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugiat, aliquam temporibus delectus quidem eveniet repellendus
              amet id nihil assumenda. Eveniet repellendus excepturi id fugiat temporibus quaerat ut incidunt sapiente!
            </div>
            <div class="card-action">
              <button class="btn purple" [routerLink]="['cadastro-cliente']">Tornar-se Cliente</button>
            </div>
          </div>
        </div>
        <!-- Card 1 -->
        <div class="col m6 12">
          <div class="card animated fadeInRight">
            <div class="card-content">
              <span class="card-title">Profissional</span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugiat, aliquam temporibus delectus quidem eveniet repellendus
              amet id nihil assumenda. Eveniet repellendus excepturi id fugiat temporibus quaerat ut incidunt sapiente!
            </div>
            <div class="card-action">
              <button class="btn purple" [routerLink]="['cadastro-profissional']">Tornar-se profissional</button>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
      </div>
    </div>
  </div>
</header>