<form [formGroup]="form" fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="CEP" formControlName="cep" id="cep" name="cep" [(ngModel)]="objeto.cep" (blur)="pegaEnderecoPeloCep(objeto.cep)">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Bairro" formControlName="bairro" id="bairro" name="bairro" [(ngModel)]="objeto.bairro">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Logradouro" formControlName="logradouro" id="logradouro" name="logradouro" [(ngModel)]="objeto.logradouro">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Número" formControlName="numero" id="numero" name="numero" [(ngModel)]="objeto.numero">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Complemento" formControlName="complemento" id="complemento" name="complemento" [(ngModel)]="objeto.complemento">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cidade" formControlName="cidade" id="cidade" name="cidade" [(ngModel)]="objeto.cidade">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Estado" formControlName="estado" id="estado" name="estado" [(ngModel)]="objeto.estado">
  </mat-form-field>
</form>