<app-preloader *ngIf="loading;else perfil"></app-preloader>

<ng-template #perfil>
  <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;margin-top: 50px;">
    <img class="perfil_img" [src]="usuario?.pessoa?.avatar?.base64 || imageUrl" alt="Imagem de perfil do usuário">
    <bar-rating [(rate)]="rate" [max]="5" [theme]="'stars'"></bar-rating>
  </div>
  <mat-tab-group>
    <mat-tab label="Perfil">
      <div class="list_perfil">
        <div class="list_perfil__title">Nome</div>
        <div class="list_perfil__content">
          {{usuario?.pessoa?.nome}}  {{usuario?.pessoa?.sobrenome}}
        </div>
      </div>
      <div class="list_perfil">
        <div class="list_perfil__title">Observação</div>
        <div class="list_perfil__content">
          {{usuario?.pessoa?.observacao}}
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Comentários">

      <div fxLayout="column" style="margin-top: 20px">
        <mat-form-field>
          <input matInput placeholder="Seu comentário" [disabled]="loadingComentario" (keyup.enter)="criarComentario(comentario)" [(ngModel)]="comentario">
        </mat-form-field>

        <mat-progress-bar mode="indeterminate" *ngIf="loadingComentario;else comentarioList"></mat-progress-bar>

        <ng-template #comentarioList>
          <mat-list role="list">
            <mat-list-item *ngFor="let coment of comentarios" role="listitem">
              <img matListAvatar [src]="coment?.usuario_criador?.pessoa?.avatar?.base64 || imageUrl" alt="Imagem do usuário que comentou">
              <span matLine>
                <b>{{coment?.usuario_criador?.pessoa?.nome}}</b>
              </span>
              <p matLine>
                <span class="demo-2"> {{coment.mensagem}} </span>
              </p>
              <mat-divider></mat-divider>
            </mat-list-item>

          </mat-list>
        </ng-template>
      </div>

    </mat-tab>
  </mat-tab-group>
</ng-template>