.avatar{
    border-radius: 50%;
    width:200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.avatar-container{
    width:200px;
    height:200px;
    position: relative;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.btn-avatar{
    position: absolute;
    left: 50px;
}