<app-preloader *ngIf="loading;else usuarioTemplate"></app-preloader>

<ng-template #usuarioTemplate>
  <div class="row center animated fadeInDown">
    <div class="col-12 flex-center">
      <div class="avatar-container">
        <img [src]="imageUrl" alt="Imagem avatar" class="avatar">
        <button mat-button class="btn-avatar" (click)="abrirCrooperFoto()">Editar Foto</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <mat-expansion-panel class="animated fadeInUp">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Usuário
      </mat-panel-title>
      <mat-panel-description>
        Informações do usuário
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-usuario-form [edit]="true" [objeto]="usuario"></app-usuario-form>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel class="animated fadeInUp">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Categorias
      </mat-panel-title>
      <mat-panel-description>
        Categorias utilizadas pelo seu usuário
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-categorias-select [pessoaId]="usuario.pessoa.id" [preselects]="usuario.pessoa.categorias" (selecteds)="usuario.pessoa.categorias = $event"></app-categorias-select>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel class="animated fadeInUp">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informações
      </mat-panel-title>
      <mat-panel-description>
        Informações de pessoa
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-info-pessoal [objeto]="usuario.pessoa"></app-info-pessoal>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel class="animated fadeInUp">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Endereço
      </mat-panel-title>
      <mat-panel-description>
        Endereço do usuário
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-endereco [objeto]="usuario.pessoa.enderecos[0]"></app-endereco>

    <br>

    <agm-map [latitude]="usuario.pessoa.enderecos[0].latitude" [longitude]="usuario.pessoa.enderecos[0].longitude" [zoom]="16">
      <agm-marker [latitude]="usuario.pessoa.enderecos[0].latitude" [longitude]="usuario.pessoa.enderecos[0].longitude"></agm-marker>
    </agm-map>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel class="animated fadeInUp">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Senha
      </mat-panel-title>
      <mat-panel-description>
        Modifica senha
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form>
      <div class="input-field">
        <input type="password" [(ngModel)]="novaSenha" name="novaSenha">
        <label class="active">Nova senha</label>
        <ng2-password-strength-bar [passwordToCheck]="novaSenha" [barLabel]="'Força da senha:'" [barColors]="coresSenhaForca"></ng2-password-strength-bar>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-button [disabled]="novaSenha.length == 0" class="purple white-text right" (click)="modificarSenha(novaSenha)">Modificar senha</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
  <br>
  <button mat-button class="right purple white-text" (click)="modificarSenha()">Salvar</button>
</ng-template>