<app-navbar></app-navbar>

<section class="container animated fadeInUp">
  <h4>Virar Cliente</h4>
  <br>
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" class="z-depth-1">
    <mat-step>
      <ng-template matStepLabel>Informações Pessoais</ng-template>
      <br>
      <p class="title_section">Informações Pessoais </p>
      <app-info-pessoal [objeto]="cliente.pessoa"></app-info-pessoal>
      <p class="title_section">Usuário</p>
      <app-usuario-form [objeto]="cliente"></app-usuario-form>
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="primary" matStepperNext>Próximo!</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Endereço</ng-template>
      <br>
      <app-endereco [objeto]="endereco"></app-endereco>
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="primary" matStepperNext>Próximo!</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Localização</ng-template>
      <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center" style="text-align: center">
        <i class="material-icons purple-text" style="font-size:160px">location_on</i>
        <p class="center">
          Precisamos que tu ative sua localização para terminar o cadastro
        </p>
        <div fxLayout="row" fxLayoutAlign="center">
          <button mat-button color="primary" matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" (click)="ativarGEO()">Ativar!</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</section>