<h2 mat-dialog-title>Pedido</h2>

<app-categorias-select [apenasUm]="true" (selecteds)="objeto.categoriaId = $event[0]"></app-categorias-select>
<form>
  <mz-input-container>
    <input mz-input [label]="'Título'" id="titulo" name="titulo" type="text" [(ngModel)]="objeto.titulo">
  </mz-input-container>

  <mz-input-container>
    <input mz-input [label]="'Observação'" id="observacao" name="observacao" type="text" [(ngModel)]="objeto.observacao">
  </mz-input-container>

  <mz-datepicker-container class="col s12">
    <input mz-datepicker [label]="'Data de Vencimento'" [options]="datepickerOptions" [(ngModel)]="objeto.dataVencimento" id="datepicker"
      name="dataVencimento" placeholder="Data de Vencimento" type="text">
  </mz-datepicker-container>
</form>

<mat-dialog-actions>
  <button mat-button [disabled]="loading" class="purple white-text" (click)="submit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="20" style="margin: 5px;" *ngIf="loading"></mat-progress-spinner>
</mat-dialog-actions>