<app-navbar>
  <li>
    <a href="badges.html">Como funciona?</a>
  </li>
  <li>
    <a [routerLink]="['/entrar']" class="nav-btn btn waves-effect waves-light purple">JÁ TENHO UMA CONTA</a>
  </li>
</app-navbar>

<section class="container animated fadeInUp">
  <h4>Virar Profissional</h4>
  <br>
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>Selecione sua categoria</ng-template>
      <br>
      <div class="row">
        <div class="col s12">
          <app-preloader *ngIf="loadingCategorias;else categoriasTemplate"></app-preloader>
          <ng-template #categoriasTemplate>
            <div class="row">
              <div class="col s6 m4 l2" *ngFor="let categoria of categorias">
                <div class="card-panel center" (click)="selecionarCategoria(categoria.id)" [class.purple]="estaSelecionado(categoria.id)"
                  [class.white]="!estaSelecionado(categoria.id)">
                  <i class="icon-categoria material-icons" [class.white-text]="estaSelecionado(categoria.id)">{{categoria.foto}}</i>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

      </div>
      <div>
        <button mat-button matStepperNext class="btn purple right">Próximo!</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Informações Pessoais</ng-template>
      <br>
      <app-info-pessoal [objeto]="profissional.pessoa"></app-info-pessoal>
      <button mat-button matStepperNext class="btn purple right">Próximo!</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Usuário</ng-template>
      <br>
      <app-usuario-form [objeto]="profissional"></app-usuario-form>
      <button mat-button matStepperNext class="btn purple right">Próximo!</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Endereço</ng-template>
      <br>
      <app-endereco [objeto]="endereco"></app-endereco>
      <button mat-button matStepperNext class="btn purple right">Próximo!</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Localização</ng-template>
      <div class="row">
        <div class="col s12 center">
          <i class="material-icons purple-text" style="font-size:160px">location_on</i>
          <p class="center">
            Precisamos que tu ative sua localização para terminar o cadastro
          </p>
          <button class="center btn purple" (click)="ativarGEO()">ativar</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</section>