<app-navbar>
  <li>
    <a href="badges.html">Como funciona?</a>
  </li>
  <li>
    <a [routerLink]="['/entrar']" class="nav-btn btn waves-effect waves-light purple">JÁ TENHO UMA CONTA</a>
  </li>
</app-navbar>

<section class="container">
  <h4>Virar Profissional</h4>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Selecione sua categoria</span>
      <div class="row">
        <div class="col s6 m2">
          <div class="card-panel purple center">
            <i class="icon-categoria material-icons white-text">build</i>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="card-panel center">
            <i class="icon-categoria material-icons">build</i>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="card-panel center">
            <i class="icon-categoria material-icons">build</i>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="card-panel center">
            <i class="icon-categoria material-icons">build</i>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="card-panel center">
            <i class="icon-categoria material-icons">build</i>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="card-panel center">
            <i class="icon-categoria material-icons">build</i>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Informações Pessoais</span>
      <form action="">
        <div class="row">
          <div class="input-field col s4">
              <input>
              <label class="active">Nome</label>
          </div>

          <div class="input-field col s4">
              <input>
              <label class="active">Sobrenome</label>
          </div>

          <div class="input-field col s4">
              <input type="date">
              <label class="active">Nascimentp</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m6">
              <input>
              <label class="active">CPF</label>
          </div>

          <div class="input-field col s12 m6">
              <input>
              <label class="active">CNPJ</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m4">
              <input>
              <label class="active">Telefone</label>
          </div>

          <div class="input-field col s12 m4">
              <input>
              <label class="active">Senha</label>
          </div>

          <div class="input-field col s12 m4">
              <input>
              <label class="active">Digite a mesma senha</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Endereço</span>
      <form>
        <div class="row">
          <div class="input-field col s12 m6">
            <input>
            <label class="active">CEP</label>
          </div>

          <div class="input-field col s12 m6">
            <input>
            <label class="active">Bairro</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m4">
            <input>
            <label class="active">Endereço</label>
          </div>

          <div class="input-field col s12 m4">
            <input>
            <label class="active">Número</label>
          </div>

          <div class="input-field col s12 m4">
            <input>
            <label class="active">Complemento</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m4">
            <input>
            <label class="active">Cidade</label>
          </div>

          <div class="input-field col s12 m4">
            <input>
            <label class="active">Estado</label>
          </div>

          <div class="input-field col s12 m4">
            <input>
            <label class="active">País</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <button class="btn purple right">Vamos lá!</button>
    </div>
  </div>
</section>