<app-preloader *ngIf="loadingCategorias;else categoriasTemplate"></app-preloader>

<ng-template #categoriasTemplate>

  <div fxLayout="row wrap">
    <mat-card *ngFor="let categoria of categorias" 
      class="card-panel center" 
      fxFlex="20% 1 auto"
      style="margin: 5px"
      (click)="selecionarCategoria(categoria.id)" 
      [class.card-selecionado]="estaSelecionado(categoria.id)" 
      [class.white]="!estaSelecionado(categoria.id)">

      <mat-card-content>
        <p>{{categoria.nome}}</p>
        <img [src]="categoria.foto" alt="Foto da categoria">
      </mat-card-content>

    </mat-card>
  </div>

</ng-template>