<form>
    <div class="row">
      <div class="input-field col s12 m4 l3">
        <input id="nome" name="nome" autocomplete='given-name' [(ngModel)]="objeto.nome">
        <label class="active">Nome</label>
      </div>

      <div class="input-field col s12 m4 l3">
        <input id="sobrenome" name="sobrenome" autocomplete='family-name' [(ngModel)]="objeto.sobrenome">
        <label class="active">Sobrenome</label>
      </div>

      <div class="input-field col s12 m4 l6">
        <input type="date" id="nascimento" name="nascimento" [(ngModel)]="objeto.nascimento">
        <label class="active">Nascimento</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m4">
        <input id="telefone" name="telefone" autocomplete="tel-national" [(ngModel)]="objeto.telefone">
        <label class="active">Telefone</label>
      </div>

      <div class="input-field col s12 m4">
        <input id="cpf" name="cpf" [(ngModel)]="objeto.cpf">
        <label class="active">CPF</label>
      </div>

      <div class="input-field col s12 m4">
        <input id="cnpj" name="cnpj" [(ngModel)]="objeto.cnpj">
        <label class="active">CNPJ</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12">
          <textarea id="observacao" name="observacao" class="materialize-textarea" [(ngModel)]="objeto.observacao"></textarea>
          <label class="active">Observação</label>
      </div>
    </div>
  </form>