<app-navbar></app-navbar>

<main>
  <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card class="animated fadeInDown" fxFlex="80%" fxFlex.gt-xs="30%" fxFlex.gt-sm="30%">
      <mat-card-content>
        <app-preloader *ngIf="loading;else formulario"></app-preloader>

        <ng-template #formulario>
          <form [formGroup]="form" fxLayout="column">
            <mat-form-field>
              <input matInput autocomplete="newuser" type="text" name="usuario" id="usuario" formControlName="usuario" placeholder="Usuário">
            </mat-form-field>

            <mat-form-field>
              <input matInput autocomplete="new-password" type="password" name="senha" id="senha" formControlName="senha" placeholder="Senha"
                [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-checkbox formControlName="salvar" [(ngModel)]="salvar">Salvar</mat-checkbox>
            <br>
            <button type="button" mat-raised-button color="primary" (click)="submit()">Entrar</button>
          </form>

        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</main>