/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~ngx-bar-rating/themes/br-default-theme.css';
@import '~ngx-bar-rating/themes/br-bootstrap-theme.css';
@import '~ngx-bar-rating/themes/br-fontawesome-theme.css';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme.css';
@import '~ngx-bar-rating/themes/br-horizontal-theme.css';
@import '~ngx-bar-rating/themes/br-vertical-theme.css';
@import '~ngx-bar-rating/themes/br-stars-theme.css';
@import '~ngx-bar-rating/themes/br-movie-theme.css';
@import '~ngx-bar-rating/themes/br-square-theme.css';


:root{
    --color-primary: #673AB7;
}

body{
    min-height: 100vh;
    background: url('./assets/images/doodles.png');
}

.primary{
    background: var(--color-primary) !important;
}
.white{
    background: #FFF !important;    
}
.nav-btn{
    border-radius: 25px !important;
}

.icon-categoria{
    font-size: 70px
};

.mat-step-icon {
    background: red !important;
}

.btn-float-fixed{
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;
}

agm-map {
    height: 300px;
}

agm-map.full-map{
    height: 100%;
    position: fixed;
    width: 100%;
    top: 60px;
    right: 0px;
}
.aux-pointer{
    cursor: pointer;
}

mat-card{
    margin-bottom:20px
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.title_section{
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
