<mat-toolbar color="primary" class="navbar-custom">
  <mat-toolbar-row>
    <button [routerLink]="['principal']" mat-button>FindMe</button>
    <span class="spacer"></span>
    <button [routerLink]="['categorias']" [permission]="'user_dev'" mat-button matTooltip="Categorias do sistema">Categorias</button>
    <button [routerLink]="['usuarios']" [permission]="'user_dev'" mat-button matTooltip="Usuários do sistema">Usuários</button>
    <button [routerLink]="['conta']" mat-button>
      Conta
    </button>
    <button mat-button (click)="logout()" matTooltip="Sair do sistema">Sair</button>
  </mat-toolbar-row>
</mat-toolbar>