<mat-toolbar color="primary" class="navbar-custom">
  <mat-toolbar-row>
    <button [routerLink]="['principal']" mat-button>FindMe</button>
    <span class="spacer"></span>
    <button [routerLink]="['categorias']" [permission]="'user_dev'" mat-button>Categorias</button>
    <button [routerLink]="['usuarios']" [permission]="'user_dev'" mat-button>Usuários</button>
    <button [routerLink]="['conta']" mat-button>Conta</button>
    <button mat-button (click)="logout()">Sair</button>
  </mat-toolbar-row>
</mat-toolbar>